* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* landing */
.landing {
  position: relative;
  height: 85vh;
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.text {
  position: absolute;
  text-shadow: 2px 4px 5px #ffffff;
}

.landing img{
  position: absolute;
  top: 0;
  left: 0;
 
  pointer-events: none;

}

.landing img#img3{
  width: 100%;
  position: fixed;
  transform: translateX(305px);
}
/* .landing img#img2{
  position: fixed;
  transform: translateX(-282px);
} */
/* .landing img#img3{
  position: fixed;
  transform: translateX(-282px);
} */


.card-heading {
  font-size: 1.2em; /* Heading size */
  margin-top: 10px; /* Space between image and heading */
  color: #333; /* Heading color */
}



.blogpost {
  position: relative;
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}



#trip_plan {
  background-color: rgb(130, 31, 160);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media(max-width:600px) {

  #trip_plan{
      padding: 0 !important;
  }

  .trip_planner{
      padding: 0 !important;
  }

 


  .custom-modal-width {
      width: 100%;
      max-width: 100%;
  }
}





.image_grp {
  border-radius: 5px;
  height: 400px;

}

.card-body {
  margin:  30px 0;
  text-align: center; /* Center text */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}
